{{!< ../../default}}
{{> nav}}
<main id="content" class="container">
    {{> flash}}
    <div class="row">
        <div class="column">
            <h1>Add user to {{name}}</h1>
            <div id="show-user">
                <label for="description">Description</label>
                <input id="description" name="description" type="text" value="{{description}}" disabled>

                <form method="POST" action="/groups/{{id}}/users">
                
                    <dl class="form-group">
                        <dt class="input-label">
                            <label for="email">Users Email Address</label>
                        </dt>
                        <dd>
                            <input id="email" class="form-control" name="email" type="text">
                        </dd>
                        <dd class="error" hidden>
                            Invalid email address.
                        </dd>
                    </dl>

                    <button id="add-user-btn" type="submit" disabled="true">Add User to Group</button>
                </form>
            </div>
        </div>
    </div>
</main>

<script src="/static/js/groups/users/new.js"></script>