{{!< default}}
{{> nav}}
<main class="container" id="content">
    <section class="row">
        <div class="column">
            <center>
                <h1>Ooops, you seem to be a bit lost!</h1>
                <p>It's okay we've got you!</p>
                <a class="button" href="/">Go back to safety</a>
            </center>
        </div>
    </section>
</main>