<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">

        {{!-- jQuery --}}
        <script src="//code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>

        {{!-- Google Fonts --}}
        <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">

        {{!-- CSS Reset --}}
        <link rel="stylesheet" href="//cdn.rawgit.com/necolas/normalize.css/5.0.0/normalize.css">

        {{!-- Milligram CSS minified --}}
        <link rel="stylesheet" href="//cdn.rawgit.com/milligram/milligram/master/dist/milligram.min.css">

        {{!-- Scaffold CSS --}}
        <link rel="stylesheet" href="/static/reset.css">
        <link rel="stylesheet" href="/static/styles.css">

        {{!-- FontAwesome --}}
        <link rel="stylesheet" href="/static/font-awesome-4.7.0/css/font-awesome.min.css">

        {{!-- Scaffold Global JS --}}
        <script src="/static/js/validation-rules.js"></script>
        <script src="/static/js/form-validator.js"></script>
        
        <title>Scaffold</title>
    </head>

    <body>
        {{{body}}}
    </body>
</html>