{{!< default}}
{{> nav}}
<main class="container" id="content">
    <section class="row">
        <div class="column">
            <center>
                <h1>Oh no, something went wrong!</h1>
                <p>We're so sorry, but it seems we had a problem. We're on it though, try again in a little bit!</p>

                {{#if stack}}
                    <p>{{code}}</p>
                    <p>{{message}}</p>
                    <p>{{stack}}</p>
                {{/if}}

                <a class="button" href="/">Go back to safety</a>
            </center>
        </div>
    </section>
</main>