{{!< default}}
{{> nav}}
<main class="container" id="content">
    {{> flash}}
    <section class="row">
        <div class="column">
            <center>
                <h1>Scaffold</h1>
                <p>{{injectHtml welcomeCopy }}</p>
            </center>
        </div>
    </section>
</main>