{{!< default}}
{{> nav}}
<main class="container" id="content">
    <section class="row">
        <div class="column">
            <center>
                <h1>Scaffold</h1>
                <p>Welcome to the new back-end for your app!</p>
            </center>
        </div>
    </section>
</main>