{{!< default}}
{{> nav}}
<main class="container" id="content">
    {{> flash}}
    <center>
        <div class="row">
            <section class="column">
                <center>
                    <h1>Log in</h1>
                    <form method="POST" action="/login" id="login">
                    
                        <dl class="form-group">
                            <dt class="input-label">
                                <label for="email">Email Address</label>
                            </dt>
                            <dd>
                                <input id="email" name="email" type="email">
                            </dd>
                            <dd class="error" hidden>
                                Invalid email address.
                            </dd>
                        </dl>

                        <dl class="form-group">
                            <dt class="input-label">
                                <label for="password">Password</label>
                            </dt>
                            <dd>
                                <input id="password" name="password" type="password">
                            </dd>
                            <dd class="error" hidden>
                                Invalid password.
                            </dd>
                        </dl>

                        <button id="login-button" type="submit" disabled="true">Sign in</button>
                    </form>
                </center>
            </section>
        </div>
    </center>
</main>

<script src="/static/js/login.js"></script>