{{!< default}}
{{> nav}}
<main class="container" id="content">
    {{> flash}}
    <center>
        <div class="row">
            <section class="column">
                <center>
                    <h1>Log in</h1>
                    <form method="POST" action="/login" id="login">
                        <input name="email" type="email" placeholder="example@scaffold.com">
                        <input name="password" type="password" placeholder="password">

                        <input type="submit" value="submit">
                    </form>
                </center>
            </section>
        </div>
    </center>
</main>