{{!< default}}
{{> nav}}
<main class="container" id="content">
    <div class="row">
        <div class="column column-50">
            <h1>Registration</h1>
            <p>We like to store minimal information on you, but you will need your own account. Sign up here to begin using the app!</p>
        </div>
        <section class="column column-50">
            <center>
                <form method="POST" action="/users">
                    <input name="email" type="email" placeholder="example@scaffold.com">
                    <input name="password" type="password" placeholder="password">
                    <input name="confirmPassword" type="password" placeholder="password">

                    <input type="submit" value="submit">
                </form>
            </center>
        </section>
    </div>
</main>