{{!< default}}
{{> nav}}
<main class="container" id="content">
    {{> flash}}
    <section class="row">
        <div class="column">
            <h1>Settings</h1>

            <form id="settings-form">
                    
                <dl class="form-group">
                    <dt class="input-label">
                        <label for="name">App Name</label>
                    </dt>
                    <dd>
                        <input id="name" name="name" type="text" value="{{name.value}}">
                    </dd>
                    <dd class="error" hidden>
                        Invalid app name for some reason.
                    </dd>
                </dl>

                <dl class="form-group">
                    <dt class="input-label">
                        <label for="terms">Custom Terms of Service</label>
                    </dt>
                    <dd>
                        <!--<input id="terms" name="terms" type="text" value="{{terms.value}}">-->
                        <textarea id="terms" name="terms">{{terms.value}}</textarea>
                    </dd>
                    <dd class="error" hidden>
                        Your terms of service are too long.
                    </dd>
                </dl>

                <button id="save-button" type="submit">Save Settings</button>
            </form>
        </div>
    </section>
</main>

<script src="/static/js/settings.js"></script>