<header>
    <nav class="navigation">
        <section class="container">
            <a class="navigation-title" href="/">{{siteName}}</a>
            <ul class="navigation-list float-right">
                {{#if isLoggedIn}}
                    {{#if isMaintainer}}
                        <li class="navigation-item">
                            <a class="navigation-link" href="/users">Users</a>
                        </li>
                        <li class="navigation-item">
                            <a class="navigation-link" href="/groups">Groups</a>
                        </li>
                        <li class="navigation-item">
                            <a class="navigation-link" href="/flags">Flags</a>
                        </li>
                        {{#if isOwner}}
                            <li class="navigation-item">
                                <a class="navigation-link" href="/settings">Settings</a>
                            </li>
                        {{/if}}
                        <li class="navigation-item">
                            <a class="navigation-link" href="https://bluehatbrit.github.io/scaffold" target="_blank">Docs</a>
                        </li>
                    {{/if}}
                    <li class="navigation-item">
                        <a class="navigation-link" href="/logout">Log out</a>
                    </li>
                {{else}}
                    <li class="navigation-item">
                        <a class="navigation-link" href="/login">Log in</a>
                    </li>
                    <li class="navigation-item">
                        <a class="navigation-link" href="/signup">Sign up</a>
                    </li>
                {{/if}}
            </ul>
        </section>
    </nav>
</header>