{{!< ../default}}
{{> nav}}
<main id="content" class="container">
    {{> flash}}
    <div class="row">
        <div class="column">
            {{#if groups}}
                <h1 class="inline">Groups</h1>

                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each groups}}
                            <tr>
                                <td><a href="/groups/{{id}}">{{name}}</a></td>
                            </tr>
                        {{/each}}
                    </tbody>
                </table>
            {{else}}
                <center>
                    <h1>There aren't any groups yet</h1>
                    <a class="button" href="/groups/new">Create a group now</a>
                </center>
            {{/if}}
        </div>
    </div>
</main>