{{!< ../default}}
{{> nav}}
<main id="content" class="container">
    {{> flash}}
    <div class="row">
        <div class="column">
            <h1>Create a user group</h1>

            <form method="POST" action="/groups" id="create-group">
                {{> input
                    id="name-input"
                    name="name"
                    type="text"
                    title="Group Name"
                    note="A hyphenated name for the group."
                    error="A group name must be between 5 and 50 characters."
                }}

                {{> input
                    id="description-input"
                    name="description"
                    type="text"
                    title="Description"
                    note="Describe who might be in the group, or what it is for."
                    error="The group description must be under 140 characters."
                }}

                <button id="create-group-btn" value="submit" disabled>Create group</button>
            </form>
        </div>
    </div>
</main>

<script src="/static/js/groups/new.js"></script>