{{!< ../default}}
{{> nav}}
<main id="content" class="container">
    {{> flash}}
    <div class="row">
        <div class="column">
            <h1 class="inline">Flags</h1>
            <a class="button float-right" href="/flags/new">New flag</a>

            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Active</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each flags}}
                        <tr>
                            <td>{{name}}</td>
                            <td>{{description}}</td>
                            <td>{{active}}</td>
                        </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</main>