{{!< ../default}}
{{> nav}}
<main id="content" class="container">
    {{> flash}}
    <div class="row">
        <div class="column">
            <h1>Create a new flag</h1>
            <form method="POST" action="/flags" id="create-flag">
                <dl class="form-group">
                    <dt class="input-label">
                        <label for="name">Flag Name</label>
                    </dt>
                    <dd>
                        <input id="flag-name" class="form-control" name="name" type="text">
                        <p class="note">A hyphenated name which you'll use in your code to refer to this flag.</p>
                    </dd>
                </dl>

                <dl class="form-group">
                    <dt class="input-label">
                        <label for="description">Description (optional)</label>
                    </dt>
                    <dd>
                        <input id="flag-description" class="form-control" name="description" type="text">
                        <p class="note">A short description to help others understand what this feature is.</p>
                    </dd>
                </dl>

                <dl class="form-group">
                    <dt class="input-label">
                        <label for="populationPercentage">Population Percentage (optional)</label>
                    </dt>
                    <dd>
                        <input id="population" class="form-control" name="population_percentage" style="max-width: 10rem;" type="number" min="0" max="100">
                        <p class="note">Incrementally roll out to a higher percentage of users as you desire. Set to 0 to turn this feature off.</p>
                    </dd>
                    <dd class="error" hidden>
                        Must be a number between 0-10.
                    </dd>
                </dl>

                <button id="create-flag-btn" type="submit" disabled="true">Create flag</button>
            </form>
        </div>
    </div>
</main>

<script src="/static/flags/new.js"></script>