{{!< ../default}}
{{> nav}}
<main id="content" class="container">
    {{> flash}}
    <div class="row">
        <div class="column">
            <h1>User</h1>
            <div id="show-user">
                <label for="email">Email</label>
                <input id="email" name="email" type="text" value="{{email}}" disabled>

                <div>
                    <h2>Groups</h2>
                    <table>
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Description</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each groups}}
                                <tr>
                                    <td><a href="/groups/{{id}}">{{name}}</a></td>
                                    <td>{{description}}</td>
                                </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</main>